:root{
    --primary: rgb(0, 150, 150);
    --secondary: rgb(21, 21, 21);
}
div {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
nav{
    border-bottom: 1px solid #d5d5d5;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* White icon */
}

*{
    line-height: 26px;
}
p, label{
    font-size: 15px !important;
}
.pros{
    color: rgb(255, 255, 255) !important;
}
.path{
    color: var(--primary);
}
.container-fluid{
    min-height: 100vh !important;
}
.form-control::placeholder{
    font-size: 15px !important;
}
.row{
    margin: 0px !important;
}
input:focus{
    outline: 1px solid rgb(17, 17, 17) !important;
    box-shadow: none !important;
}
.navbar{
    /* background: radial-gradient(circle, rgb(53, 53, 165), rgb(32, 32, 113)); */
    border: 0 !important;
    padding: 10px;
    /* background: radial-gradient(circle, var(--secondary), rgb(20, 20, 20)); */
    background-color: var(--secondary);
}
.nav-link, .nav-employer{
    color: rgb(255, 255, 255) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    letter-spacing: 0.4px;
    margin-left: 20px;
}
.nav-link{
    margin-left: 50px;
}
.nav-link:hover, .nav-employer:hover{
    color: var(--primary) !important;
}
.navbar-brand{
    font-size: x-large;
}
.slider-home{
    /* background-color: rgb(52, 52, 172); */
    height: 400px;
    margin: 0px !important;
}
.search{
    height: 45px !important;
    background-color: rgb(255, 255, 255);
}
.industries{
    min-height: fit-content;
}
.input-group-text{
    cursor: pointer;
}
.home-img{
    height: 99% !important;
    width: 900px;
    overflow: hidden;
}
.pink{
    background-color: var(--primary) !important;
    color: white;
    font-weight: 400;
}
.bg-dark{
    background-color: var(--secondary) !important;
}
.header{
    border-radius: 15px 15px 0 0;
}
.border-radius{
    border-radius: 15px;
}
.text-custom{
    color: var(--primary);
}
.custom-font{
    font-size: 18px !important;
    margin: 0 0 8px 0 !important;
}
.employer-reg{
    text-align: center;
    padding: 35px;
    border-bottom: 1px solid #aaa;
}
.employer-icon{
    height: 200px;
}
.company-logo{
    width: auto;
    height: 100px;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border: 1px solid #aaa !important;
}
.tab{
    background-color: #e4e4e4;
}
.tab:focus{
    background-color: white;
    outline: 0 !important;
}
.profile-content{
    border-left: 2px solid var(--primary);
}
.skills{
    display: flex;
    flex-wrap: wrap;
}
.bg-custom{
    background-color: #f7f7f7;
}
.bg-cyan{
    background-color: rgba(0, 139, 139, 0.4);
}
.addexp{
    cursor: pointer;
}
.addexp:hover{
    background-color: #eeeeee;
}
#expForm{
    display: none;
}
footer{
    background-color: var(--secondary);
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    display: block;
    font-size: 17px;
}
footer a:hover{
    text-decoration: underline;
}
footer .row{
    margin: 0 !important;
}
.bg-blue{
    background-color: var(--secondary) !important;
    color: white;
}
.register-img{
    background-image: url('/images/image1.jpg');
    background-color: #6d6d6d;
    background-blend-mode: multiply;
    background-size: cover;
}
.cover-text{
    margin-top: 230px;
    text-align: center;
    line-height: 40px;
}
.google{
    border: 1px solid #aaa;
}
.google img{
    width: auto;
    height: 40px;
    overflow: hidden;
}
.google:hover{
    background-color: #eeeeee;
}
.zero-margin{
    margin-left: 0 !important;
}
.reg-logo{
    height: 210px;
}
.text{
    display: flex;
    align-items: center;
    color: white;
    margin: 80px 0 0 0 !important;
    line-height: 35px;
}
.subtext{
    font-size: 18px;
}
.userguide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userguide p{
    font-size: 18px;
    line-height: 30px;
}
.input-box{
    height: 40px;
}
.search-box{
    border: 1px solid #aaa;
    padding: 10px 15px;
}
textarea, .category-filter, .input-file, .input-box{
    border: 1px solid #c0c0c0 !important;
    background-color: rgb(255, 255, 255) !important;
}
select{
    border: 1px solid #cacaca;
}
textarea:focus, .input-box:focus{
    outline: 1px solid var(--primary) !important;
    box-shadow: none !important;
}
.custom-shadow{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.jobtype:hover{
    background-color: #e6e6e6;
}
.employer-img{
    width: 100px;
    height: 100px;
}
.filter{
    height: fit-content;
}
.jobpost-logo{
    width: auto;
    height: 100px;
}
.jobpost{
    min-height: 310px !important;
}
.postdate p{
    margin: 0 !important;
}
.category-filter li a{
    text-decoration: none;
}
.scrollable{
    max-height: 400px;
    overflow-y: auto;
}
.company-container{
    min-height: 110px;
}
.company{
    height: 100px;
}
.company img{
    height: 100%;
}
.logo-create{
    height: 200px;
    width: fit-content;
}
.logo-detail{
    height: 100px;
    width: fit-content;
}
.logo-small{
    height: 50px;
    width: fit-content;
}
.nav-profile{
    height: 30px;
    width: 30px;
    border: 1px solid #aaa;
    object-fit: cover;
}
.profile{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.profile-edit{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.company-info{
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(0, 139, 139, 0.4);
    border-radius: 20px;
    padding: 5px 15px;
}
.job-opening-section{
    width: 50%;
}
.job-opening{
    height: 210px;
}
.link:hover{
    text-decoration: underline !important;
}
.job-count{
    padding: 6px 14px;
    font-size: large;
    font-weight: 600;
    background-color: rgba(0, 139, 139, 0.4);;
}
ul{
    margin: 5px !important;
}
.table tbody tr td {
    padding: 20px 0 !important;
}
.applicant-list span{
    line-height: 10px !important;
}
.applicant-name{
    font-weight: 600;
}
.applicant-name:hover{
    text-decoration: underline !important;
}
.table-container{
    overflow-y: auto;
}
.table{
    min-width: 600px !important;
}
.company-table{
    min-width: 1100px !important;
}
@media(max-width:1000px) {
    .container-fluid, .job-header-container{
        padding: 20px 0px !important;
    }
    .img-slider{
        display: none;
    }
    .slider-home{
        min-height: fit-content !important;
    }
    .slider-home div h1{
        margin: 0 !important;
    }
    .slider-home div .input-group{
        margin-left: 0px !important;
    }
    .auth{
        padding: 0px !important;
    }
    .register-img{
        display: none;
    }
    .job-info{
        margin: 0 !important;
    }
    .md-block{
        width: fit-content !important;
        display: block !important;
        margin-bottom: 10px !important;
    }
    .job-opening-section{
        width: 100%;
    }
    .companies{
        padding: 0 !important;
    }
}
